fastapi
uvicorn[standard]
psycopg[binary]
psycopg_pool
pydantic
pydantic-settings
python-multipart
python-dotenv
email-validator
langchain
langchain-community
langchain-text-splitters
langchain-groq
pypdf
fastembed
psycopg_pool
